.details-contanier {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 24px;
}

.details-content-contanier {
  padding: 10px;
  margin-bottom: 25px;
}

.review-content-contanier {
  padding: 20px 10px;
  width: 100%;
  margin-bottom: 25px;
}

.review-listing-content-contanier {
  padding: 15px 10px;
}

@media (min-width: 576px) {
  .review-content-contanier {
    padding: 20px;
  }

  .movie-details-contanier {
    padding: 20px;
  }

  .movie-details-card {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .review-content-contanier {
    padding: 40px;
  }
  
  .movie-details-contanier {
    padding: 40px;
  }

  .movie-details-card {
    padding: 40px;
  }

  .review-listing-content-contanier {
    padding: 40px;
  }
}

@media (min-width: 1400px) {
  .movie-details-contanier {
    padding: 50px 140px;
  }
}
